{% extends 'base.html' %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop Online</h1>
                <p class="lead fw-normal text-white-50 mb-0">Gran variedad de productos</p>
            </div>
        </div>
    </header>
    <section class="py-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-black-50 mb-0">Learn more about our company and values</p>
                </div>
                <div class="text-center">
                    <h2 class="mt-4">Our Mission</h2>
                    <p>To provide the best online shopping experience with a wide range of products and excellent customer service.</p>
                    <h2 class="mt-4">Our Vision</h2>
                    <p>To be the leading online store, known for quality, variety, and customer satisfaction.</p>
                    <h2 class="mt-4">Our Values</h2>
                    <ul>
                        <li>Customer Focus: We prioritize our customers' needs and satisfaction.</li>
                        <li>Integrity: We conduct our business with honesty and transparency.</li>
                        <li>Innovation: We embrace change and continuously seek to improve.</li>
                        <li>Teamwork: We work together to achieve common goals.</li>
                        <li>Excellence: We strive for the highest quality in everything we do.</li>
                    </ul>
                    <h2 class="mt-4">Contact Us</h2>
                    <p></p>
                </div>
    </section>

    
{% endblock %}